body{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    height: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 25px;
    padding-top: 300px;
}

.animated-text{
    font-size: 25px;
    font-weight: 600;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "";
    color: pink;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid pink;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Happy Valentines Day!";
    }
    21%,40%{
        content: "You make me smile.";
    }
    41%,60%{
        content: "You brighten my day.";
    }
    61%,80%{
        content: "Youre my favourite person.";
    }
    81%,100%{
        content: "I Love You! ❤️😘";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: pink;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 70px;
}

.button:hover {
    background-color: #ffed05;
    color: black;
}